@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body {
  font-family: 'Zilla Slab', sans-serif;
  color: #555;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .text-heading {
  font-family: 'Zilla Slab Highlight', serif;
}
